body{
    background-color: #A3BCFF;
    font-family: 'Noto Sans', sans-serif;
}
legend{
    font-size: 30px;
}
fieldset{
    background-color: #BDCEFF;
    width: 350px;
    margin-left: auto;
    margin-right: auto
}
.form-label,span{
    display: block;
    padding: 5px;
  }
.form-input{
    display: block;
}
legend{
    font-size: 25px;
    font-weight: bold;
}
button{
    font-size: 30px;
    background-color: grey;
    color: honeydew;
}
div {
    text-align: center;
    padding: 30px;
}



   